<div class="col-md-8 py-8">
  <table class="table table-bordered">
      <thead >
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>BootcampState</th>
          <th>Created Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bootcamp of bootcampList">
          <td>1</td>
          <td>{{ bootcamp.name}}</td>
          <td>{{ bootcamp.bootcampstate}}</td>
          <td>{{ bootcamp.instructorFirstName}}</td>
          <td>{{ bootcamp.instructorFirstName}}</td>
          <td>{{ bootcamp.startDate| date: 'dd/MM/yyyy'}}</td>
          <td>{{ bootcamp.endDate| date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>       
</div>