<div class="row" style="margin-top: 10px;">
    <h3 *ngIf="!bootcampList">Eğitim Bulunamadı</h3>
 <div *ngFor="let bootcamp of bootcampList.items" class="card" style="width: 16rem;margin:20px;opacity: 0.8;">
 <img [src]="bootcamp.BootcampImageImagePath" class="card-img-top" alt="bootcamp Image" height="150px" />
 <div class="bootcamp-body">
    <p class="card-text">Eğitmen:<strong>{{bootcamp.name}}</strong></p>
 </div>
 <ul class="list-group list-group-flush">
  <li class="list-group-item"><b>Eğitmen:</b><span style="float:right;">{{bootcamp.instructorFirstName}} {{bootcamp.instructorLastName}}</span></li>
  <li class="list-group-item"><b>Bitiş Tarihi:</b><span style="float:right;">{{bootcamp.endDate}}</span></li>
 </ul>
</div> 
<button *ngIf="bootcampList.hasNext" type="button"
     (click)="onViewMoreClicked()" [disabled]="!bootcampList.hasNext" class="btn border-0">
     Sonraki Sayfa {{this.currentPageNumber}} {{bootcampList.hasNext}}</button>
     <button *ngIf="bootcampList.hasPrevious" type="button"
        (click)="onPreviousPageClicked()" [disabled]="!bootcampList.hasPrevious" class="btn border-0">
        Önceki Sayfa {{this.currentPageNumber-1}} {{bootcampList.hasPrevious}}</button>
</div>
